<div class="options">
  <button id="insert" type="button" class="btn btn-outline-success" routerLink="/insert">Add new Movie</button>
  <button id="log-out" type="button" class="btn btn-info" routerLink="/admin/login">Log Out</button>
</div>
<table class="table table-bordered">
    <thead>
      <tr class="titles">
        <th scope="col">Index</th>
        <th scope="col">Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Genre</th>
        <th scope="col">Overview</th>
        <th scope="col">Duration</th>
        <th scope="col">Quality</th>
        <th scope="col">Image Path</th>
        <th scope="col">Release Date</th>
        <th scope="col" colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr class="info" *ngFor="let m of movies, index as i">
        <th scope="row">{{i+1}}</th>
        <td class="name">{{m.movieName}}</td>
        <td class="rating">{{m.rating}}</td>
        <td class="genre">{{m.genre}}</td>
        <td class="overview"><textarea class="textarea" rows="5" cols="80" disabled>{{m.overview}}</textarea></td>
        <td class="duration">{{m.duration}}</td>
        <td class="quality">{{m.quality}}</td>
        <td class="imagePath">{{m.imagePath}}</td>
        <td class="releaseDate">{{m.releaseDate | date: 'mediumDate'}}</td>
        <td class="update"><button class="btn btn-primary" type="submit" routerLink="/update/{{m.id}}">Update</button></td>
        <td class="delete"><button type="button" class="btn btn-danger" (click)="delMovie($event, i)">Delete</button></td>

      </tr>
    </tbody>
  </table>

