.titles {
    background-color: aqua;
}

.info:hover {
    background-color: rgb(228, 225, 225);
    transition: 0.3s;
    box-sizing: border-box;
    box-shadow: 1px 0.5px 2px 2px;
    color: rgb(2, 2, 69);
}

.textarea:hover {
    background-color: cornflowerblue;
    transition: 0.3s;
    color: greenyellow;
}

th {
    text-align: center;
}

.options {
    text-align: center;
}

#insert, #log-out {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}