<div class="body">
 
    <div class="main">
      <h1 class="register">Admin Registeration</h1>
      <p class="fill">Fill All The Columns To Register</p>
    <form [formGroup]="myForm" class="form">
     <label>Name</label>
     <input type="text" placeholder="Enter your name" name="name" class="fields"
        id="name" formControlName="name"
       [(ngModel)]="adminsName">
       <div *ngIf="name!.invalid && (name!.dirty || name!.touched)">
        <p class="requires">Name is required</p>
       </div>
       <label>Email Id</label>
       <input type="email" placeholder="Enter your email Id" name="emailId" class="fields"
        id="emailId" formControlName="emailId" 
        [(ngModel)]="adminEmail">
        <div *ngIf="emailId!.invalid && (emailId!.dirty || emailId!.touched)">
          <p class="requires">EmailId is required</p>
         </div>
         <label>Phone Number</label>
        <input type="text" placeholder="Enter your phone number" name="phoneNumber" class="fields"
        id="phoneNumber" formControlName="phoneNumber" style="width: 300px;"
        [(ngModel)]="adminMobileNumber">
        <div *ngIf="phoneNumber!.invalid && (phoneNumber!.dirty || phoneNumber!.touched)">
          <p class="requires">PhoneNumber is required</p>
         </div>
         <label>Age</label>
         <input type="text" placeholder="Enter your Age" name="age" class="fields"
        id="age" formControlName="age" 
       [(ngModel)]="adminAge">
       <div *ngIf="age!.invalid && (age!.dirty || age!.touched)">
        <p class="requires">Age is required</p>
       </div>
       <label>Password</label>
       <input type="password" placeholder="Enter your Password" name="password" class="fields"
        id="password" formControlName="password" style="width: 300px;"
       [ngModel]="adminPassword">
       <div *ngIf="password!.invalid && (password!.dirty || password!.touched)">
        <p class="requires">Paasword is required</p>
       </div>

       <button mat-raised-button class="login" type="submit" routerLink="/admin/login">Login Page</button>
    
      <div>
       <button mat-raised-button class="submit" (click)="Register()"type="submit">Submit</button>
       <button mat-raised-button class="login" type="reset">Reset</button>
       </div>
    </form>
    </div>
    </div>