<mat-toolbar-row>
    <header id="header">
        <button id="log-out" type="button" class="btn btn-success" routerLink="">Log Out</button>
        <div class="header1">
            <img id="search" src="../../../assets/FinalSearch1.png" class="rounded mx-auto d-block" alt="...">
            <input type="search" list placeholder="Search here..." list="movie-names" (change)="byName($event)">
            <datalist id="movie-names">
                <option *ngFor="let name of movieNames; index as i">{{name}}</option>
            </datalist>
            <!-- (onSelect)="onSearch(name)" -->
        </div>
    </header>
</mat-toolbar-row>

<div id="center">
    <h2>Now Streaming</h2>
    <div>
        <div class="div1" *ngFor="let movie of movies, index as i">
            <img id="image" routerLink="/movie/{{movie.id}}" [src]="movie.imagePath" class="rounded mx-auto d-block"
                alt="...">
            <div>
            </div>
            <span class="genre">&nbsp;&nbsp;{{movie.genre | stringSplit }}</span>

        </div>
    </div>
</div>


<!-- <div id="footer">
    <mat-toolbar-row>
        <footer id="footertag">
            <h3>&copy;2022 | All Rights Reserved.</h3>
        </footer>
    </mat-toolbar-row>
</div> -->

<!-- <mat-toolbar color='primary'>
    <span class='spacer'></span>
    <h3>&copy;2022 | App Monsters | All Rights Reserved.</h3>
    <span class='spacer'></span>
</mat-toolbar> -->

<!-- <mat-toolbar id="footertag">
    <footer>
        <h3>&copy;2022 | App Monsters | All Rights Reserved.</h3>
    </footer>
</mat-toolbar> -->

<!-- <div>
    <mat-toolbar-row id="footertag">
        <h3>&copy;2022 | App Monsters | All Rights Reserved.</h3>
    </mat-toolbar-row>
</div> -->