iframe {
    width: 100%;
    height: 400px;
}

#header {
    background: #051b33;
    width: 100%;
    height: 150px;
    position: relative;
}

input {
    box-sizing: border-box;
    position: absolute;
    float: left;
    border: 0;
    border-radius: 25px;
    border-color: aqua;
    width: 200px;
    height: 50px;
    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.header1 {
    position: relative;
    top: 23%;
    left: 80%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.header1:hover {
    width: 300px;
    cursor: pointer;
}

.header1:hover input {
    display: block;
}

#image {
    box-sizing: border-box;
    border: 20px solid rgb(121, 15, 242);
    box-shadow: 2px;
}

.movieDetails {
    text-align: center;
}

#emptyspan {
    padding-top: 10px;
    padding-bottom: 10px;
}

#movieName, #genre, #rating, #releaseDate, #overview, #quality, #releaseDate, #duration, #book-ticket {
    font-family: cursive;
    font-weight: bold italic;
    font-size: large;
    background-color: rgba(184, 170, 241, 0.2);
    text-align: center;
    padding-bottom: 10px;
}

textarea {
    background-color: rgba(205, 178, 245, 0.5);
    text-shadow: 1px;
}

#book {
    background-color: cornflowerblue;
    font-style: oblique;
    color: rgb(255, 255, 1);
}

#home {
    box-sizing: border-box;
    border-radius: 20px;
    border: rgba(red, green, blue, 0);
}

#home-button {
    box-sizing: content-box;
    border: rgba(red, green, blue, 0);
    border-radius: 2em;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#search {
    position: fixed;
}

